<IfModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 404 hhtp://localhost:8000/error/
    
    RewriteCond %{SCRIPR_FILENAME} !-d
    RewriteCond %{SCRIPR_FILENAME} !-f
    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>